body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(25% - 10px);
    margin-right: 10px;
}
.section:last-child {
    margin-right: 0; /* Elimina margen derecho del último elemento */
}
h2 {
    font-size: 18px;
    color: #333;
}
.budget-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.budget-item span {
    font-size: 16px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
}